@hd:    ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
        ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
        ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
        ~"only screen and (min-device-pixel-ratio: 1.5)";

@xs: ~"only screen and (max-width: 767px)";
@sm: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@md: ~"only screen and (min-width: 992px) and (max-width: 1199px)"; 
@lg: ~"only screen and (min-width: 1200px)";

.listing-bugs {
    margin-top: 20px;
}

.search-filters {
    fieldset {
        margin-top: 10px;
    }
    legend {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
    }
    label {
        font-weight: normal;
    }
    .form-group {
        // width: 23%;
        width: 100%;
        margin-right: 8px;
    }
}

#ticket-status {
    margin-top: 40px;
}

.dropdown-menu > li > a.active {
    font-weight: bold;
}

#ticket-description {
    font-size: 12px;

    .well {
        min-height: 200px;
    }
}

#bugs-list .listing {
    font-size: 13px;
}
@media @lg, @md {
    .filters-check {
        height: auto !important;
    }
}
@media @xs {
    .btn.btn-wide {
        width: 100%;
    }
    #bugs-list .listing {
        font-size: 12px;
    }

    h1 {
        font-size: 24px;
        small {
            font-size: 14px;
        }
    }

    #projet-panel .col-xs-12 {
        // padding: 0;
    }

    #citrus-signature {
        display: none;
    }

    .back-btn {
        margin: 10px 0 0;
    }

    #status-switch, #status-switch button, ul.status-changer {
        width: 100%
    }
}

span.cut-txt {
    max-width: 200px;
    overflow-x: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
